<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">


</head>

<body>
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/internet-access">Internet Access</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/internet-usage">Internet Usage</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="container-fluid rounded-3">
            <h1>Visualising and Analysing Global Connectivity</h1>
            <h3> How do we Connect?</h3>
            <p class="lead">
                Communication tools throughout the times<br>
                From talking drums, cave paintings and travelling poets on horseback in Africa; to smoke signals in the
                Americas and parts of Asia; to homing pigeons in Persia and later on by the Romans; to the Greek
                hydraulic semaphore system in Europe in the 4th century, an early attempt at telegraphs; to finally the
                Electrical Telegraph in the 19th Century.
                People around the world have always had a need to communicate and connect. Whether to share literature
                and art or to aide military advancement, people throughout the times have found innovative tools and
                ways of communicating.
                <br>
                Images?
                Cave painting to homing pigeons, smoke signals and hydraulic semaphore system<br>
                Old landline phones, old payphone, old fax machine, old mobiles to smartphones, laptops and tablets.
                Dial up modem?
            </p>
        </div>
    </main>

    <main role="main" class="container">
        <div class="container-fluid   rounded-3">
            <h1>How Many of us Are Online and How Do We Get Online</h1>
            <h3> Wireless Revolution</h3>
            <p class="lead">
                In the 1990’s the wireless revolution began with digital wireless networks leading to a shift from wired
                to wireless technology. This has led to a decrease of landlines being connected to homes and businesses using digital phones as landlines stopped being prerequisite to (noisy) dial up modem to
                connect to the internet.
                <br>
                This shift is noticeable in the decline of landlines as mobile internet increases around the world
                (image of world landline decline).
                <br>
                In parts of Asia and Africa most people have completely sidestepped landline telephones and home
                broadband and gone straight to mobile internet as their first, and only way, to connect to the internet.
                (image of landline and broadband charts vs mobile internet)
                <br>
                Since 2019 Africa overtook Europe as the second leading Continent for mobile cellular subscriptions
                after the Americas. In all the regions around the world young people between the ages of 15 and 24 are
                online at higher rates than the rest of the population. (Image of age chart)

            </p>
        </div>
    </main>

    <main role="main" class="container">
        <div class="container-fluid   rounded-3">
            <h1>What do we do Online</h1>
            <h3>Which services do we access once we get online?</h3>
            <p class="lead">
                
                <br>
                dffdvsfd
                <br>
                fvfvsf
                <br>
                fsfgsf

            </p>
        </div>
    </main>

    <main role="main" class="container">
        <div class="container-fluid ">
            <h1>Implications and Possibilities</h1>
            <h3> Post Covid</h3>
            <p class="lead">
                <b>Implications</b>
                </br>
                The existing Digital Divide between those who have access to the required infrastructure and/or devices
                either because of location or lack of funds became more obvious during the Covid Pandemic, causing more
                people to be excluded from work and education opportunities or access to healthcare because of their
                age, disability or socioeconomic status.
            </p>
            </br>
            <p class="lead">
            <b>Worldwide Opportunities</b>
            </br>
            Business and Developmental Case Uses for the data visualised in this project:
            <ul class="list-group w-auto">
                <li> Finance </li>
                <li> infrastructure</li>
                <li> E-commerce</li>
                <li> Ed-Tech</li>
                <li> Healthcare </li>
                <li> Public Sector</li>
                <li> Agriculture</li>
                <li> Social Media</li>
                <li> Gaming</li>
                <li> Entertainment</li>
            </ul>
            </p>
        </div>
    </main>






    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">&copy; 2022 Company, Inc</p>

            <a href="/"
                class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap" />
                </svg>
            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="/internet-access" class="nav-link px-2 text-muted">Internet Access</a></li>
                <li class="nav-item"><a href="/internet-usage" class="nav-link px-2 text-muted">Internet Usage</a></li>
            </ul>
        </footer>
    </div>
</body>

</html>