
/* body{
    background-color: #4c7c9b;
    padding: 10px;
    font-family: sans-serif;
    font-size:24px;
}
h1{

    color: white;
    
}
select, input{
    font-size: 1.5rem;
}

  
.loading {
    margin-top: 10em;
    text-align: center;
    color: #e8e8e8;
  }

  #myButtons {
    background-color: #004c6d;
    border:solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
  }

  .box-big{
      display: flex;
      height: 40vh;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin-top: 2rem;
      padding-bottom: 3rem;
      
  }
  .box-big:first-child{
      
      display: none;
  }
  .box-big h2{
      text-align: left;
      font-size:1.5rem;
      color:#111;
      padding-left: 0.5rem;
      padding-top: 0.5rem;
      color: white;
  }
#map-box{
    width:40%;
}
  .box-big-left, .box-big-right{
      width: 29%;
      height: 98%;

  }
  .box-bottom-left {
      height:75%;
      width:68%;
      margin-top: -60px;
     
  }
 

.box-big-right{
    position: relative;
    z-index:10;
}
.slider{
    position: absolute;
    bottom:-4rem;
    right:6rem;
    z-index: 100;

}

.box-bottom-right{
margin-top: 20px;
height: 42vh;
width: 31%;
} */

.slider{
    position: absolute;
    right: 23rem;
    z-index: 100;
    margin-top: 410px;

}

.container h1{
    margin-top: 60PX;
}

#myButtons button {
    border: 1px solid white;
}