<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basic Charts</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        let alldata = {{ data| tojson }};
        // let alldataworld = JSON.parse(alldata);
    </script>
</head>
<body>
    <form action="{{ url_for("plot_chart") }}" method="post">
        <select name="filter1">
            {% for o in data['filter1list'] %}
            <option value="{{ o }}" {{ 'selected="selected"' if o==data['filter1']}}>{{ o }}</option>
            {% endfor %}
        </select>
        <select name="filter2">
            {% for o in data['filter2list'] %}
            <option value="{{ o }}" {{ 'selected="selected"' if o==data['filter2']}}>{{ o }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
    <div id="plot"></div>
    <script type="text/javascript" src="../static/js/app.js"></script>
</body>
</html>